<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Ruby Committers</title>
  <%= stylesheet_link_tag :all %>
</head>
<body>

  <div id="header">
    <div id="title">Ruby Committers</div>
  </div>

<%= yield %>

  <div id="footer">
    &copy; <%= Time.now.year %> RubyCommitters.org <br/>
    inspired by _why
  </div>

</body>
</html>
