/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 6, ../../app/stylesheets/master.sass */
body {
  background: url(/images/ruby_pattern.png);
  font-family: Sans;
  color: #6b5153;
  padding: 0 40px;
}

/* line 12, ../../app/stylesheets/master.sass */
h1, h2, h3 {
  font-family: Cuprum, Sans;
}

/* line 15, ../../app/stylesheets/master.sass */
h1, h2 {
  font-weight: bold;
}

/* line 18, ../../app/stylesheets/master.sass */
h1 {
  font-size: 60px;
  padding: 80px 0 60px;
  color: #aa0000;
  margin-left: 30px;
  text-shadow: #3e0f10 -1px 1px 1px;
}
/* line 25, ../../app/stylesheets/master.sass */
h1 a {
  text-decoration: none;
  color: #aa0000;
}
/* line 29, ../../app/stylesheets/master.sass */
h1 a:hover {
  color: #880000;
}

/* line 32, ../../app/stylesheets/master.sass */
h2 {
  font-size: 30px;
  padding-bottom: 3px;
  color: #7f3129;
}

/* line 37, ../../app/stylesheets/master.sass */
h3 {
  color: #6b5153;
  font-size: 16px;
  line-height: 20px;
  font-family: Sans;
}
/* line 43, ../../app/stylesheets/master.sass */
h3 span {
  font-size: 15px;
  display: block;
  color: #aaaaaa;
  font-family: Cuprum, Sans;
  margin-bottom: 3px;
}

/* line 50, ../../app/stylesheets/master.sass */
a {
  color: #6b5153;
}
/* line 53, ../../app/stylesheets/master.sass */
a:hover {
  color: #dda9ad;
  text-decoration: none;
}

/* line 57, ../../app/stylesheets/master.sass */
p.intro {
  position: absolute;
  font-size: 18px;
  font-family: Cuprum, Sans;
  width: 300px;
  line-height: 22px;
  top: 88px;
  left: 560px;
  color: #a87175;
}

/* line 67, ../../app/stylesheets/master.sass */
table.commiters {
  width: 100%;
  border-spacing: 20px;
}
/* line 71, ../../app/stylesheets/master.sass */
table.commiters td.commiter {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  vertical-align: top;
  width: 33.333%;
  border: 3px solid #fbd0dc;
  background: #fefefe;
}
/* line 78, ../../app/stylesheets/master.sass */
table.commiters td.commiter .commiter-wrapper {
  padding: 15px 20px;
}

/* line 81, ../../app/stylesheets/master.sass */
.portraits {
  float: left;
  margin-right: 30px;
  width: 1px;
  position: relative;
}
/* line 87, ../../app/stylesheets/master.sass */
.portraits li {
  top: 0;
  position: absolute;
}
/* line 91, ../../app/stylesheets/master.sass */
.portraits .image-wrapper {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  width: 70px;
}
/* line 95, ../../app/stylesheets/master.sass */
.portraits .image-wrapper:first-child {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 98, ../../app/stylesheets/master.sass */
.portraits img {
  width: 100%;
  padding: 5px;
  border: 1px solid #dddddd;
  -moz-box-shadow: #c2c2c2 0 0 5px 0;
  -webkit-box-shadow: #c2c2c2 0 0 5px 0;
  -o-box-shadow: #c2c2c2 0 0 5px 0;
  box-shadow: #c2c2c2 0 0 5px 0;
}

/* line 104, ../../app/stylesheets/master.sass */
.commiter-data {
  padding-left: 95px;
}

/* line 107, ../../app/stylesheets/master.sass */
.commiter-data-extra {
  margin-top: 15px;
}

/* line 110, ../../app/stylesheets/master.sass */
dl {
  margin-bottom: 8px;
}
/* line 120, ../../app/stylesheets/master.sass */
dl dt {
  color: #aaaaaa;
  font-size: 15px;
  font-family: Cuprum, Sans;
  margin-bottom: 3px;
}
/* line 126, ../../app/stylesheets/master.sass */
dl dd {
  margin-bottom: 15px;
}
/* line 129, ../../app/stylesheets/master.sass */
dl ul {
  margin-left: 10px;
}
/* line 132, ../../app/stylesheets/master.sass */
dl ul li {
  margin-bottom: 5px;
  line-height: 18px;
  font-size: 14px;
  list-style: circle;
  margin-left: 10px;
}

/* line 139, ../../app/stylesheets/master.sass */
ul.services {
  margin-bottom: 15px;
  border-top: 1px dotted #fbd0dc;
  padding-top: 10px;
}
/* line 144, ../../app/stylesheets/master.sass */
ul.services li {
  float: left;
  margin-right: 8px;
}

/* line 148, ../../app/stylesheets/master.sass */
.ruby-powered {
  text-align: center;
  padding: 80px 0;
  font-family: Cuprum, Sans;
  color: #94072a;
}
