.scrollcontainer	{width: 100%;background: url(/images/scroll_bg.png);position: relative;height: 591px;}
.scrollcenter		{width: 1100px;margin: 0 auto;position: relative;}
.scrollable			{position: absolute;overflow: hidden;width: 990px;height: 530px;padding: 10px 0;border: none;left: 68px;top: 15px}

.scrollable .items 	{height: 20000em;position: absolute;clear: both;}
.items div			{float: left;}

/* active item */
.scrollable .active	{border: 2px solid #000;position: relative;cursor: default;}

/* prev, next, prevPage and nextPage buttons */
.scrollcontainer a.browse		{background: #fff;display: block;width: 62px;height: 36px;margin: 0;cursor: pointer;font-size: 1px;position: absolute;}
.scrollcontainer a.right,
.scrollcontainer a.left			{top: 2px;}

/* right */
.scrollcontainer a.right		{background: url(/images/button_down.png);right: 0px;}
.scrollcontainer a.left			{background: url(/images/button_up.png);left: 0;}
.scrollcontainer a.right:active,
.scrollcontainer a.left:active	{background-position: 0 -36px;}
/* disabled navigational button */
.scrollcontainer a.disabled		{visibility: hidden !important;}