@charset "UTF-8";
/* CSS Document */

/* ===================================================================
reset.css
=================================================================== */
html {
	font-size: 12px;
	letter-spacing: 0.1ex;
	line-height: 1;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Meiryo','メイリオ','ＭＳ Ｐゴシック','ＭＳ ゴシック',Osaka,Osaka-等幅,sans-serif;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
a:link {
	color: #feb19e;
}
a:visited {
	color: #e7866e;
}
a:hover {
	color: #fefb9e;
}
a:active {
	color: #FF0;
}

.button a
 {
	background-repeat: no-repeat;
	display: block;
	font-weight: bold;
}

.button a:link,
.button a:visited
 {
	background-position: left top;
}
.button a:hover,
.button a:active
 {
	background-position: left bottom;
}
a { overflow: hidden }

/* ===================================================================
clearfix
=================================================================== */
.clearfix:after,
div:after,
ul:after,
dl:after,
form:after,
blockquote:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
}

.clearfix,
div,
ul,
dl,
form,
blockquote {
  min-height: 1px;
  display: block;  /* ブロックレベル要素に */
}


/* ===================================================================
design
=================================================================== */
body {
	color: #3e130a;
	background-color: #9f2707;
}
#header {
	background-image: url(../images/hrader.gif);
	height: 137px;
}
h1 {
	display:block;
	padding-top: 20px;
	text-align: center;
	}
p.github {
	position: absolute;
	top: 0px;
	}
p.github a {
	position: absolute;
	top: 0px;
	background-image: url(../images/github_a.png);
	text-indent: -9999px;
	display: block;
	height: 170px;
	width: 170px;
	}
#main {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b03413;
}
ul.committers {
	padding-top: 25px;
	clear: both;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}
li.committer {
	display: block;
	margin-bottom: 25px;
	float: left;
	width: 300px;
	margin-right: 14px;
	margin-left: 14px;
	background-image: url(../images/commiter.gif);
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #b03413;
	border-bottom-color: #b03413;
}
li.committer .header {
	background-image: url(../images/committer_header.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 20px;
	height: 170px;
}
.account_names {
	display: block;
	background-repeat: no-repeat;
	float: right;
	width: 170px;
	text-align: center;
	background-image: url(../images/account_names.png);
	background-position: center bottom;
	padding-bottom: 35px;
}
.account_names ul li {
	line-height: 1.4;
	display: block;
}
.committer h2 {
	display: block;
	background-repeat: no-repeat;
	font-size: 26px;
	font-family: 'IM Fell Great Primer', arial, serif;
	font-weight: 400;
	background-image: url(../images/h2.png);
	background-position: center top;
	padding-top: 30px;
	margin-bottom: 10px;
	text-shadow:#d6614c 1px 1px 0px;
	letter-spacing: 0.04em;
 }
.portraits {
	width: 100px;
	float: left;
	}
.portraits li {
	display: none;
	}
.portraits li:first-child {
	display: block;
	}
.portraits img {
	width:100px;
	display: block;
	-moz-box-shadow:#4d1b11 1px 1px 3px;
	-webkit-box-shadow:#4d1b11 1px 1px 3px;
	-o-box-shadow:#4d1b11 1px 1px 3px;
	margin-top: 5px;
}
.nicknames {
	padding-top: 10px;
	clear: both;
}
.nicknames h3 {
	font-size: 12px;
	font-family: 'Coming Soon', arial, serif;
	display: inline;
	margin-right: 5px;
}
.nicknames ul {
	display: inline !important;
}
.nicknames li {
	font-size: 12px;
	font-family: 'Coming Soon', arial, serif;
	font-style: normal;
	font-weight: 400;
	display: inline;
	margin-right: 3px;
	line-height: 1.3;
  }



li.committer .body {
	clear: both;
	padding-top: 20px;
	height: 160px;
}

.section {
	width: 120px;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
}
li.committer .body div.section ul {
	line-height:1.5;
}
li.committer .body div.section ul li {
	display:block;
	margin-bottom:8px;
}
li.committer .body .caption {
	display: block;
	margin-bottom: 7px;
	font-size: 16px;
	text-shadow:#d6614c 1px 1px 0px;
	font-family: 'IM Fell Great Primer', arial, serif;
	font-weight: 400;
	letter-spacing: 0.04em;
}


.committer .footer {
	display: block;
	background-image: url(../images/committer_footer.gif);
	background-position: left bottom;
	clear: both;
	padding-top: 10px;
	background-repeat: no-repeat;
	height: 39px;
}
.services {
	clear: both;
}
.services ul {
	height: 28px;
	padding-top: 5px;
	padding-bottom: 6px;
	padding-right: 15px;
	padding-left: 15px;
}
.services li {
	display: inline;
}
.services li a {
	display: block;
	float: left;
	height: 28px;
	width: 40px;
	text-indent: -9999px;
	background-position: center center;
	background-repeat: no-repeat;
}
.services li a:link,
.services li a:visited {
	display: block;
}
.services li a:hover,
.services li a:active {
	display: block;
	background-color: #5b1a0c;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.services li.twitter a {
	background-image: url(../images/twitter.png);
}
.services li.iddy a {
	background-image: url(../images/iddy.png);
}
.services li.facebook a {
	background-image: url(../images/facebook.png);
}
.services li.friendfeed a {
	background-image: url(../images/friendfeed.png);
}
.services li.mixi a {
	background-image: url(../images/mixi.png);
}
.services li.github a {
	background-image: url(../images/github.png);
}















#footer {
	padding: 30px;
	clear: both;
	background-image: url(../images/footer.gif);
	background-repeat: repeat-x;
	background-position: left top;
	}
#footer p.copy {
	text-align: center;
	display: block;
	font-size: 26px;
	font-family: 'IM Fell Great Primer', arial, serif;
	font-weight: 700;
	text-shadow:#290b05 1px 1px 0px;
	letter-spacing: 0.04em;
	color: #8b3721;
	}
.dialog {
	margin-top: 50px;
	margin-bottom: 400px;
	padding: 15px;
	text-align: center;
}
.dialog h2 {
	font-size: 24px;
	display: block;
	margin-bottom: 20px;
	font-family: 'IM Fell Great Primer', arial, serif;
	font-weight: 400;
	text-shadow:#d6614c 1px 1px 0px;
	letter-spacing: 0.04em;
}
