@import "compass/reset"
@import "compass/css3"

body
  background: url(/images/ruby_pattern.png)
  font-family: Sans

h1, h2, h3
  font-family: Cuprum, Sans

h1, h2
  font-weight: bold

h1
  font-size: 60px
  text-align: center
  padding: 50px 0 30px
  color: #a00
  @include text-shadow(#3e0f10, -1px, 1px, 1px)

h2
  font-size: 30px
  padding-bottom: 3px
  color: #7f3129

h3
  color: #8f7375
  font-size: 16px
  line-height: 20px

a
  color: #54272a
  &:hover
    color: #dda9ad
    text-decoration: none

table.commiters
  width: 100%
  border-spacing: 20px

  td.commiter
    @include border-radius(10px)
    vertical-align: top
    width: 33.333%
    border: 3px solid #fbd0dc
    background: #fefefe

    .commiter-wrapper
      padding: 15px 20px

.portraits
  float: left
  margin-right: 30px
  width: 1px
  position: relative

  li
    top: 0
    position: absolute

  .image-wrapper
    @include opacity(0.0)
    width: 70px

    &:first-child
      @include opacity(1.0)

  img
    width: 100%
    padding: 5px
    border: 1px solid #ddd
    @include box-shadow(#C2C2C2, 0, 0, 5px)

.commiter-data
  padding-left: 95px

.commiter-data-extra
  margin-top: 15px

dl
  margin-bottom: 8px

  &.nicknames
    dt, dd
      display: inline-block

  &.sites

  &.services

    a
      text-decoration: none
      span
        text-decoration: underline

      &:hover
        span
          text-decoration: none

      img
        vertical-align: top
        margin-right: 2px

    ul li
      margin-bottom: 8px

  dt
    color: #A3A099
    margin-bottom: 2px

  ul
    margin-left: 10px
    padding: 4px 0

    li
      margin-bottom: 5px
