@import "compass/reset"
@import "compass/css3"

body
  background: url(/images/ruby_pattern.png)

h1, h2, h3
  font-family: Cuprum, Sans

h1, h2
  font-weight: bold

h1
  font-size: 60px
  text-align: center
  padding: 50px 0
  color: #a00

.image-wrapper
  height: 100px

  img
    height: 100%

h2
  font-size: 30px
  padding-bottom: 3px
  color: #7f3129

h3
  color: #8f7375
  font-size: 16px
  line-height: 20px
  padding-bottom: 15px

ul
  display: inline-block
  width: 100%
  margin-bottom: 20px

  li.commiter
    @include border-radius(10px)
    width: 30%
    margin-left: 2.5%
    float: left
    border: 5px solid #fbd0dc
    background: #fefefe

    .commiter-wrapper
      padding: 10px 20px
