<!DOCTYPE html>
<html>
<head>
  <title>Ruby Committers</title>
  <%= stylesheet_link_tag :all %>
  <link rel="icon" href="./images/blossom.png" type="image/x-png"/>
  <link rel="shortcut icon" href="./images/blossom.png" type="image/x-png"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>  
  <%= csrf_meta_tag %>
  <%= analytics_tag %>
</head>
<body>
  <%= yield -%>
</body>
</html>
