<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">

  <title>Ruby Committers</title>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= analytics_tag %>
</head>
<body>

<header>
  <h1>Ruby Committers</h1>
  <h2>The people behind a programmer's best friend.</h2>
</header>

<%= yield %>

</body>
</html>
