<% url = (portrait = account.portraits.first).present? ? portrait.url : '/images/missing.gif' -%>
<% image = image_tag(url, :alt => account.username) -%>
<div class='image-wrapper'>
  <% if full -%>
    <%= image %>
  <% else -%>
    <%= link_to image, account %>
  <% end -%>
</div>
