<header role="banner" class="box">
  <hgroup>
    <h1>Ruby Committers</h1>
    <h2>Ruby Core Team</h2>
  </hgroup>

  <a href="http://github.com/tenderlove/rubycommitters.org" class="fork-me">Fork me <span>on gitub</span></a>
</header>

<article class="team-list box">
  <header>
    <h1>Meet the Team!</h1>
  </header>

  <ul>
    <%= render :partial => 'account', :collection => @accounts %>
  </ul>
</article>

<footer role="contentinfo">
  <p>Site design by <a href="http://www.ccrissman.com">Chad Crissman</a></p>
</footer>
