<div id="layout">
  <div id="committers">
    <div id="title"></div>
    <div id="members">
      <%= render :partial => 'account', :collection => @accounts -%>
    </div>
  </div>
</div>

<div id="forkit">
  <%=link_to image_tag( 'fork_it.png', :border => 0 ), 'http://github.com/tenderlove/rubycommitters.org', :title => "Fork it?", :target => '#' -%>
</div>

<script>
  $('.avatars').cycle( { fx: 'zoom' } );
  $('.names').cycle( { fx: 'fade' } );
  
  $('.member').hover( function() {
    $( this ).find( '.sidebar span' ).addClass( "selected" );
    $( this ).addClass( "selected" );
  },
  function() {
    $(this).find( '.sidebar > span' ).removeClass( "selected" );
    $( this ).removeClass( "selected" );    
  });
</script>