<h3 id="intro">Meet the contributors that brought you the sexiest programming language in the history of everything.</h3>
<div id="stats">
  There are <%= @accounts.count %> core contributors.
</div>
<div id="filter">
  <span class="results"></span>
  <input id="filter_by_username" type="text" placeholder="Search by username">
</div><!-- #filter -->
<section id="accounts" class="hidden">
  <%= render :partial => 'account', :collection => @accounts %>
  <div class="clear"></div>
  <h1 class="no_results">We couldn't find a developer by that name :(</h1>
</section>
