<h1>Ruby Committers</h1>
<%= link_to 'Fork me on Github', 'http://github.com/tenderlove/rubycommitters.org' , :id => 'fork_me' %>
<ul id = "committers">
  <%= render :partial => 'account', :collection => @accounts %>
</ul>
