<ol id = "ruby-logo">
  <li id = "r1">R</li>
  <li id = "u" >u</li>
  <li id = "b" >b</li>
  <li id = "y" >y</li>
</ol>
<ol id = "committers-logo">
  <li id = "c" >C</li>
  <li id = "o" >o</li>
  <li id = "m1">m</li>
  <li id = "m2">m</li>
  <li id = "i" >i</li>
  <li id = "t1">t</li>
  <li id = "t2">t</li>
  <li id = "e" >e</li>
  <li id = "r2">r</li>
  <li id = "s" >s</li>
</ol>

<%= link_to 'Fork me on Github', 'http://github.com/tenderlove/rubycommitters.org' , :id => 'fork_me' %>
<ul id = "committers">
  <%= render :partial => 'account', :collection => @accounts %>
</ul>
