<h3 id="intro">Meet the contributors that brought you the sexiest programming language in the history of everything.</h3>
<div id="filter">
  <span class="results"></span>
  <input id="filter_by_username" type="text" placeholder="Search by username">
</div><!-- #filter -->
<div id="stats">
  There are <%= @accounts.count %> core contributors.
</div><!-- #stats -->
<section id="accounts">
  <%= render :partial => 'account', :collection => @accounts %>
  <div class="clear"></div>
</section>
