.matzilla
.attack
.fork= link_to 'fork me on github', 'http://github.com/tenderlove/rubycommitters.org'
.header
  %h1 Ruby Committers
.container
  - @accounts.each do |account|
    = render :partial => 'account', :locals => {:account => account}