<header>
  <h1>Ruby Committers</h1>
</header>

<section class="wrapper">
  <ul class="cards">
    <%= render :partial => 'account', :collection => @accounts %>
  </ul>
</section>

<footer>
  <h1><%= link_to 'Fork this on Github', 'http://github.com/tenderlove/rubycommitters.org', :title => 'Fork this on Github' %></h1>
</footer>