<table>
  <thead>
    <tr>
      <th></th>
      <th><%= t('Name') %></th>
      <th><%= t('Website') %></th>
      <th colspan="6"><%= t('Services') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'account', :collection => @accounts %>
  </tbody>
</table>
