<h1>
  <a href="http://www.ruby-lang.org/" target="_blank">
    <%= image_tag('ruby.png') %> Ruby
  </a>
  Committers
</h1>

<p class="intro">
  This list contain heroes who make best ever programming language named "<a href="http://www.ruby-lang.org/" target="_blank">Ruby</a>".
<p>

<% @accounts.each_slice(3) do |account_slice| %>
  <table class="commiters">
    <tr class="commiters">
      <%= render :partial => 'account', :collection => account_slice %>
    </tr>
  </table>
<% end %>
