<h1>Ruby Committers <%= link_to 'fork me on github', 'http://github.com/tenderlove/rubycommitters.org' %> </h1>
<ul id="commiters">
<%= render :partial => 'account', :collection => @accounts %>
</ul>
