<header>
  <h1>Ruby Committers</h1>
</header>

<section class="wrapper">
  <ul class="cards">
    <%= render :partial => 'account', :collection => @accounts %>
  </ul>
</section>

<footer>
  <h1><%= link_to 'fork me on github', 'http://github.com/tenderlove/rubycommitters.org' %></h1>
</footer>