<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Website</th>
      <th colspan="6">Services</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'account', :collection => @accounts %>
  </tbody>
</table>
