<div id="layout">
  <div id="committers">
    <div id="title"></div>
    <div id="members">
      <%= render :partial => 'account', :collection => @accounts -%>
    </div>
  </div>
</div>

<script>
  $('.avatars').cycle( { fx: 'zoom' } );
  $('.names').cycle( { fx: 'fade' } );
</script>